/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: antiquewhite;
}

body {
  background: rgb(0, 14, 40);
  background: radial-gradient(
    circle,
    rgba(0, 14, 40, 1) 0%,
    rgba(0, 14, 32, 1) 100%
  );
  background-attachment: fixed;
}
